html {
    scroll-behavior: smooth;
    scroll-padding-top: 9.5vh;
}

html::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

html::-webkit-scrollbar-track {
    background: transparent;
    padding: 2px;
}

html::-webkit-scrollbar-thumb {
    background-color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(80deg, #00ADEF, #08326d 50%);
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    margin: 0;
    color: white;
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    padding: 7px;
    border: none;
}

.white1 {
    border: 2px solid white;
    border-radius: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 14px;
}

#background-cruzadinha {
    display: none;
    width: 50%;
    justify-content: center;
    flex-direction: column;
    padding: 5.4px;
    border-radius: 20px;
    border: 3px solid white;
    backdrop-filter: blur(30px);
}

.interation {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input {
    display: flex;
    width: 100%;
    justify-content: center;
}

.button {
    width: 20%;
    display: flex;
    width: 100%;
    justify-content: center;
}

button:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
    background-color: #000;
    color: #fff;
}

.tips span {
    display: flex;
    align-items: center;
    text-align: justify;
}

button {
    width: 20%;
    height: 40px;
    border-radius: 40px;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

h5 {
    font-size: 36px;
}

#introduction {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    width: 80%;
    gap: 50px;
    height: auto;
}

#introduction h1{
    font-size:80px ;
}

#introduction span{
    font-size:40px ;
}

#introduction button{
    height: 130px;
    font-size:40px ;
}